#DashBoard{
margin-top: auto;
}
#DashBoard .Header{
    height: 60px;
    width: 100%;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 99999;
}

#DashBoard .Layout {
    display: flex;
}
#DashBoard .Layout .SideBar-container{
    flex: 2;
}
#DashBoard .Layout .Weekly-container{
    flex:11;
}

