#management-course {
  font-size: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#management-course .search-bar {
  display: flex;
  position: relative;
  text-align: left;
  justify-content: flex-end;
}


#management-course .search-bar input {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
}

#management-course .search-bar svg {
  color: rgb(207, 206, 206);
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  position: absolute;
}

#management-course .btn-action {
  align-items: center;
}

#management-course .status-active {
  border: none;
  background-color: rgb(221, 149, 55);
  color: white;
}

#management-course .status-cancel {
  border: none;
  background-color: #c53631;
  color: white;
}

#management-course .status-waiting {
  border: none;
  background-color: #a0a0a0;
  color: rgb(255, 255, 255);
}

#management-course .menu {
  background-color: #e2b488;
}

#management-course .item {
  font-weight: bold;
}

#management-course .dropdown-status {
  display: inline-block;
}

#management-course .course-active {
  margin-bottom: 50px;
}

#management-course .table-info th {
  padding: 15px 10px;
}

#management-course .table-info {
  margin-right: 50px;
}

#management-course .table-info .name,
.image,
.status,
.owner {
  vertical-align: middle;
  padding: 15px 0px;
  padding-left: 10px;

}

#management-course .name {
  width: 20%;
}

#management-course .image {
  width: 20%;
}

#management-course .owner {
  width: 20%;
}

#management-course .status {
  width: 15%;
}

#management-course .status-heading {
  display: flex;
}

#management-course .action {
  width: 10%;
}

#management-course .table-header h3 {
  font-weight: bold;
}

#management-course .button-view {
  color: grey;
  border-radius: 5px;
  font-size: 20px;
}

#management-course .button-view:hover {
  cursor: pointer;
  color: #000000;
}

.content-popup {
  font-size: 16px;
}

.courseName {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.course-status-waiting {
  font-weight: bold;
  color: rgb(128, 128, 128);
  font-style: italic;
}

.content-popup svg {
  margin-bottom: 5px;
  font-size: 22px;
  color: rgb(247, 163, 9);
}

.des {
  text-align: justify;
}