#management-course{
    font-size: 15px;
}

.table-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#management-course .search-bar {
  display: flex;
  position: relative;
  text-align: left;
  justify-content: flex-end;
}


#management-course .search-bar input {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
}

#management-course .search-bar svg {
  color: rgb(207, 206, 206);
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  position: absolute;
}

#management-course .btn-action {
  margin-right: 5px;
}

#management-course .status-active {
  border: none;
  background-color: rgb(221, 149, 55);
  color: white;
}

#management-course .status-cancel {
  border: none;
  background-color: #c53631;
  color: white;
}

#management-course .status-waiting {
  border: none;
  background-color: #a0a0a0;
  color: rgb(255, 255, 255);
}

#management-course .menu{
  background-color: #e2b488;
}

#management-course .item{
  font-weight: bold;
}

#management-course .dropdown-status {
  display: inline-block;
}

#management-course .course-active{
  margin-bottom: 50px;
}

#management-course .table-info th{
    padding: 15px 10px;
}

#management-course .table-info{
  margin-right: 50px;
}

#management-course .table-info .name, .image, .status, .owner{
    vertical-align: middle;
    padding: 15px 0px;
    padding-left: 10px;

}

#management-course .name{
    width: 20%;
}

#management-course .image{
    width: 20%;
}

#management-course .owner{
    width: 20%;
}

#management-course .status{
    width: 15%;
}

#management-course .status-heading{
  display: flex;
}

#management-course .action{
    width: 10%;
}


#management-course .pagination {
    display: flex;
    justify-content: end;
    padding: 1rem;
    list-style-type: none;
    position: absolute;
    right: 20px;
    bottom: 40px;
    margin-right: 50px;
  }
  
  #management-course .pagination li {
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  #management-course .pagination li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #management-course .pagination li a:hover {
    background-color: #f0f0f0;
  }
  
  #management-course .pagination li.active a {
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border-color: #007bff;
  }

  #management-course .button-view svg, .button-delete svg {
    margin-bottom: 5px;
}

#management-course .button-view{
    border: solid 1.5px #54d6df;
    color: #54d6df;;
    border-radius: 5px;
    font-size: 24px;
  }
  #management-course .button-delete{
    border: solid 1.5px rgb(243, 141, 141);
    border-radius: 5px;
    font-size: 24px;
    margin-left: 20px;
    color: rgb(243, 141, 141);
  }