#home .slide-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 80px;
    height: 800px;
}

#home .slide-show .slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

#home .slide-show .blur-block {
    height: auto;
    width: 1370px;
    background-color: rgba(19, 15, 37, 0.4);
    border-radius: 24px;
    padding: 50px 30px;
    box-sizing: border-box;
    display: flex;
}

#home .slide-show .blur-block .slide-content {
    padding: 0 15px;
    padding-top: 40px;
    flex: 1;
}

#home .slide-show .blur-block .slide-image-container {
    padding: 0 15px;
    flex: 1;
}

#home .slide-show .blur-block .slide-image-container .slide-img {
    width: 100%;
}

#home .slide-content .course-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--dark-orange);
}

#home .slide-content .introduce {
    font-size: 48px;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 20px;
    color: white;
}

#home .slide-content .description {
    font-size: 17px;
    font-weight: 500;
    color: white;
}

#home .slide-content .start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: var(--dark-orange);
    width: 180px;
    height: 45px;
    border-radius: 999px;
    margin-top: 40px;
}

#home .slide-content .start-btn:hover {
    background-color: var(--light-orange);
}

#home .courses-container {
    padding: 0px 420px;
    padding-bottom: 60px;
}

#home .courses-container .courses {
    padding: 40px 0;
}

#home .courses-container .courses .courses-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

#home .topic {
    display: flex;
    width: 1370px;
    margin-top: 60px;
}

#home .topic .topic-title {
    width: 320px;
    color: white;
    font-size: 28px;
    font-weight: 600;
}

#home .topic .categories {
    flex: 1;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#home .categories .category {
    width: 80px;
    height: 80px;
    margin: 0 20px;
    background-color: var(--blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(0, 0, 0, 0);
}

#home .categories .category:hover {
    border: 3px solid var(--green);
}

#home .categories .category .icon {
    height: 60px;
    width: 60px;
}