#curriculum-course {
    padding: 8px 0;
    border-bottom: 1px solid #e5e7e8;
}

#curriculum-course .chapter-content {
    padding: 12px 16px;
    cursor: pointer;
}

#curriculum-course .chapter-content .chapter-show {
    display: flex;
    width: 100%;
}

#curriculum-course .chapter-content .chapter-show:hover {
    background-color: #f3f8ff;
}


#curriculum-course .chapter-content .more-detail {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#curriculum-course .chapter-content .chapter-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#curriculum-course .chapter-content .detail {
    display: flex;
    align-items: center;
}

#curriculum-course .chapter-content .detail span {
    font-size: 15px;
    color: rgb(99, 99, 99);
}

#curriculum-course .chapter-content .detail svg {
    font-size: 6px;
    margin: 0 5px;
    color: rgb(99, 99, 99);
}

#curriculum-course .chapter-content .more-btn {
    display: flex;
    align-items: center;
}

#curriculum-course .chapter-content .more-btn .arrow {
    font-size: 32px;
    margin-left: 10px;
    color: var(--light-orange);
    transition: transform 0.5s ease;
}

#curriculum-course .chapter-content .more-btn .arrow.active {
    transform: rotate(180deg);
}

#curriculum-course .chapter-content .more-btn span {
    font-size: 16px;
    color: var(--light-orange);
}

#curriculum-course .chapter-dropdown {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

#curriculum-course .chapter-dropdown.active {
    max-height: 500px;
}

#curriculum-course .chapter-dropdown .item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e5e7e8;
    align-items: center;
}

#curriculum-course .chapter-dropdown .item.bottom {
    border: none;
    padding: 20px 0 0 0;
}

#curriculum-course .chapter-dropdown .item svg {
    font-size: 22px;
}

#curriculum-course .chapter-dropdown .item .item-name {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}