#success-payment-page .Success-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/success.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin-top: -60px;
}

#success-payment-page .Cancel-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/success.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin-top: -60px;
}

#success-payment-page .Error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/Error404.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin-top: -60px;
}

#success-payment-page p {
  font-size: 1.5rem;
  margin: 5px 0px;
}

#success-payment-page button {
  padding: 10px 20px;
  font-size: 1rem;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 400px 830px;
}

#success-payment-page button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
