#search-bar {
    display: flex;
    align-items: center;
}

#search-bar .search-icon {
    display: flex;
    align-items: center;
}

#search-bar .search-icon svg {
    font-size: 24px;
}

#search-bar .input-container {
    margin: 0;
    width: 60px;
}

#search-bar .input-container input {
    border: none;

}

#search-bar .input-container input:focus-visible {
    outline: none;
}