#Statistics {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

#Statistics body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fbfaff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Statistics h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
}

#Statistics #leaderboard {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
}

#Statistics table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

#Statistics tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

#Statistics tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

#Statistics tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#Statistics tr:nth-child(1) {
  color: #fff;
}

#Statistics td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

#Statistics .number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

#Statistics .name {
  text-align: left;
  font-size: 1.2rem;
}

#Statistics .points {
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Statistics .points:first-child {
  width: 10rem;
}

#Statistics .gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}

#Statistics .Ranking {
  width: 100%;
  height: auto;
}

#Statistics #leaderboard .ribbon {
  width: 44rem;
  height: 5.5rem;
  top: 0.1rem;
  background-color: #5c5be5;
  position: absolute;
  left: -1rem;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}

#Statistics .ribbon::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  left: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

#Statistics .ribbon::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  right: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}
