#created-course {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

#created-course .created-title {
    display: flex;
    align-items: center;
}

#created-course .created-course-title {
    margin-bottom: 20px;
}

#created .created-course-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#created .created-course-header {
    display: flex;
    align-items: flex-start;
}

#created .created-course-image {
    flex: 2;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

#created .created-course-image img {
    width: 100%;
}

#created .created-course-details {
    flex: 10;
    padding-left: 10px;
}

#created .created-course-details h4 {
    margin-top: 22px;
    font-size: 16px;
}
#created .created-course-details .view-course-detail{
    color: #FF661B;
}

#created .course-actions {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

#created .course-actions .more-dropdown{
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #fff;
    border-radius: 10px;
    border-style: outset;
}

#created .course-actions .more-dropdown .btnz {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

#created .course-actions .more-dropdown .btnz:hover{
    background-color: #dbe2e8;
    border-radius: 10px;
}

#created .course-actions .more-dropdown .delete{
    border: none;
}
