#FeedBack {
     margin-top: auto;
}

#FeedBack .Header-Admin {
     height: 60px;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99999;
}

#FeedBack .Layout {
     display: flex;
}

#FeedBack .Layout .SideBar-container {
     flex: 2;
}

#FeedBack .Layout .FeedBack-container {
     flex: 11;
}