#courses-detail-bar {
    padding: 8px 0;
    display: flex;
    border-bottom: 2px solid #e5e7e8;
}

#courses-detail-bar .tab {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 50px;
    cursor: pointer;
}

#courses-detail-bar .tab:hover {
    background-color: #f3f8ff;
    color: var(--light-orange);
}

#courses-detail-bar .header-courses-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 200px;
    background-color: white;
    box-shadow: rgba(11, 11, 11, 0.06) 0px 2px 4px -1px, rgba(11, 11, 11, 0.1) 0px 4px 6px -1px;
    z-index: 11;
    transition: all 0.5s ease;
    overflow: hidden;
}

#courses-detail-bar .header-courses-bar .name-btn {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #e5e7e8;
}

#courses-detail-bar .header-courses-bar .name-btn .btn-contain {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#courses-detail-bar .header-courses-bar .name-btn p {
    font-size: 16px;
    font-weight: 600;
}

#courses-detail-bar .header-courses-bar .name-btn .btn-contain .enroll-btn {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-orange);
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

#courses-detail-bar .header-courses-bar .name-btn .btn-contain .enroll-btn:hover {
    background-color: var(--dark-orange);
}

#courses-detail-bar .tab-container {
    display: flex;
    padding: 15px 0;
}

#courses-detail-bar .tab-container .tab.active {
    background-color: #f3f8ff;
    color: var(--light-orange);
}