#nav-bar {
     padding: 0 25%;
     background-color: #2d2f31;
     height: auto;
 }
 
 #nav-bar .title {
     padding: 60px 0 40px 0;
 }
 
 #nav-bar .title p {
     font-size: 40px;
     color: white;
     font-family: SuisseWorks, Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-weight: 600;
 }
 
 #nav-bar .nav-btn {
     display: flex;
 }
 
 #nav-bar .nav-btn .tag {
     margin-right: 20px;
     font-size: 16px;
     color: #d1d7dc;
     font-weight: 600;
     padding: 0 5px 15px 5px;
     cursor: pointer;
     position: relative;
 }
 
 #nav-bar .nav-btn .tag.active,
 #nav-bar .nav-btn .tag:hover {
     color: white;
 }
 
 #nav-bar .nav-btn .tag.active::before {
     position: absolute;
     width: 100%;
     height: 5px;
     background-color: white;
     left: 0;
     bottom: 0;
     content: '';
 }