#chapter-detail-sb{
    margin: 6px 0;
    display: flex;
    flex-direction: column;
}

#chapter-detail-sb .title-chaper{
    padding: 0 24px;
    cursor: pointer;
}
#chapter-detail-sb .title-chaper {
    font-size: 14px;
    font-weight: 700;
}

#chapter-detail-sb .title-chaper:hover p{
    background-color: #f7f7f7;
}