#Cart {
  margin-bottom: 50px;
}

#Cart .container {
  display: flex;
  margin-top: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}

#Cart .container1 {
  flex: 7;
}

#Cart .container1 .css-0 {
  margin-left: 10px;
  margin-top: 10px;
  /* padding: 10px; */
}

#Cart .container2 {
  flex: 3;
  padding: 40px;
}

/* #Cart .container1 {
    background-color: red;
} */

#Cart .display-cart {
  display: flex;
  flex-direction: column;
}

#Cart .display-cart .text-container {
  margin-top: 30px;
}

#Cart .display-cart .text-container h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

#Cart .container .container1-row {
  display: flex;
  flex-direction: row;
  height: 110px;
  margin-bottom: 10px;
}

/* #Cart .container .container1-row svg {
    margin-top: 25px;

} */

/* #Cart .container .container1-row1{
    flex: 0.7;
} */

#Cart .container .container1-row2 {
  flex: 9.3;
}

#Cart .container .column {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 10px;
  /* background-color: #fff; */
}

#Cart .column .cover-img-course {
  flex: 3;
}

#Cart .column .course-container {
  flex: 15;
}

#Cart .column .total-container {
  /* flex: 0.1; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#Cart .column .total-container .button-delete-container {
  align-self: flex-end;
}

#Cart .container .column .cover-img-course img {
  width: auto;
  height: 70px;
}

#Cart .course-container div {
  margin-bottom: 10px;
}

#Cart .course-container .course-title h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  font-size: 15px;
}

#Cart .course-container .course-of-instructor h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
}

#Cart .column .total-container h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  font-size: 12px;
  color: crimson;
}

#Cart .column .total-container h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  font-size: 17px;
  color: crimson;
}

#Cart .column .total-container-fix {
  display: flex;
  gap: 10px;
}

#Cart .column .total-container .icon-bt {
  cursor: pointer;
}

#Cart .container .container1-row2 .boxchek-container {
  padding: 10px;
}

/************************************* Course *******************************************/

#Cart .container2 .container-total {
  display: flex;
  flex-direction: column;
}

#Cart .container2 .container-total {
  /* margin: 10px 50px;     */
}

#Cart .container-total .column1,
#Cart .container-total .column2,
#Cart .container-total .column3 {
  margin-bottom: 5px;
}

#Cart .container-total .column1 h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

#Cart .container-total .column2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#Cart .container-total .column2 h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  font-size: 18px;
  color: crimson;
}

#Cart .container-total .column2 h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  font-size: 25px;
  color: crimson;
}

/**************************************** Right *******************************************************************/

#Cart .display-cart .text2-container h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}

/*********************************************** Result Bottom ****************************************************/

#Cart .results {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  cursor: pointer;
  user-select: none; /* Prevents text selection */
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  -moz-user-select: none; /* Firefox-specific */
  -ms-user-select: none; /* Internet Explorer/Edge-specific */
}

#Cart .results::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

#Cart .result {
  width: 380px;
  background-color: white;
  box-shadow: 0 0 1px #949494;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#Cart .result .img-container {
  position: relative;
}

#Cart .result .background {
  width: 100%;
  height: 180px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

#Cart .owner {
  position: absolute;
  bottom: 20px;
  left: 15px;
  display: flex;
  align-items: center;
}

#Cart .owner img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 10px;
}

#Cart .owner span {
  color: white;
  font-weight: 700;
  font-size: 13px;
}

#Cart .save-course-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 15px;
  bottom: 20px;
}

#Cart .save-course-btn svg {
  font-size: 16px;
}

#Cart .result .title {
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Ngăn văn bản tràn ra ngoài */
  text-overflow: ellipsis; /* Hiển thị dấu ... khi văn bản quá dài */
  white-space: nowrap; /* Không cho phép xuống dòng */
}

#Cart .result .title .title-font {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
  overflow: hidden; /* Prevent text from overflowing */
  text-overflow: ellipsis; /* Show ... when text is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #333; /* Dark gray text color */
  transition: color 0.3s ease; /* Smooth transition for color only */
}

#Cart .result .title .title-font:hover {
  color: #007bff; /* Change text color on hover */
  text-decoration: underline; /* Add an underline on hover */
}

#Cart .result .title .title-font span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%; /* Đảm bảo rằng văn bản không tràn ra ngoài */
}

#Cart .result .info {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

#Cart .result .info .tag {
  margin-right: auto;
  display: flex;
  align-items: center;
}

#Cart .result .info .tag svg {
  font-size: 17px;
  margin-right: 6px;
}

#Cart .result .info .tag span {
  font-size: 14px;
  font-weight: 600;
}

#Cart .result .rating-countS {
  padding: 15px 0;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

#Cart .result .rating-countS .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: 9999px;
  padding: 7px;
  flex-direction: row;
  margin-right: 20px;
}

#Cart .result .rating-countS .card svg {
  font-size: 16px;
  margin-right: 5px;
}

#Cart .result .rating-countS .card span {
  font-weight: 600;
}

#Cart .result .rating-countS .card .card-hint {
  color: #a9a9a9;
  margin-left: 5px;
}

#Cart .result .price-add {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#Cart .result .price-add .price {
  font-size: 22px;
  font-weight: 600;
}

#Cart .result .price-add .btn-contain {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#Cart .results-slider {
  position: relative; /* Ensure that the slider's container has a relative position */
}

#Cart .results-slider .arrowleft {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 1px 0px 1px 1px rgb(177, 177, 177);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  left: -30px; /* Adjust as needed */
}

#Cart .results-slider .arrowright {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 1px 0px 1px 1px rgb(177, 177, 177);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: -30px; /* Adjust as needed */
}

#Cart .results-slider .arrowleft.disabled,
#Cart .results-slider .arrowright.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}

/**************************************** Popup **************************************************************************/
#Cart .column3 .overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(112, 106, 106, 0.426);
  backdrop-filter: blur(1px);
  z-index: 1;
}

#Cart .column3 .popup-paymentnow {
  background: #fff;
  overflow-y: hidden;
  position: fixed;
  top: 27%;
  left: 55%;
  transform: translateX(-60%) translateY(-23%);
  min-height: 30vh;
  min-height: 300px;
  height: 450px;
  max-height: 80vh;
  width: 568px;
  border-radius: 8px;

  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#Cart .column3 .popup-paymentnow-buttonclose {
  /* margin-top: 15px; */
  /* margin-left: 490px; */
  background: rgb(238, 236, 236);
  border: 0px solid #fff;
  background-color: transparent;
  color: #00419e;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 1px;

  transform: translateX(680%) translateY(110%);
}

#Cart .column3 .popup-paymentnow-buttonclose-container {
  width: 70px;
  height: 18px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

#Cart .column3 .popup-paymentnow-buttonclose:hover {
  background-color: #dbe6f5;
  text-decoration: underline;
  cursor: pointer;
}

#Cart .column3 .row-update-container .text {
  cursor: pointer;
}

#Cart .column3 .popup-row {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 10px;
  margin-top: 40px;
}

#Cart .column3 .popup-row > div {
  flex: 1;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

#Cart .column3 .popup-row-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.3rem;
}

#Cart .column3 .popup-row-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 15px;
}

#Cart .column3 .popup-row-text2-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#Cart .column3 .popup-row-text2-container p.popup-row-text2 {
  color: #00419e;
}

#Cart .column3 .popup-row-text2-container p.popup-row-text2:hover {
  color: #2e5ca0;
}

#Cart .column3 .popup-row-text2-button {
  width: 25px;
  height: 25px;
  appearance: none;
  /* Remove default checkbox appearance */
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  /* Background color for unchecked state */
  display: inline-block;
  vertical-align: middle;
}

#Cart .column3 .popup-row-text2-button:checked {
  background-color: #00419e;
  /* Change this to the color you want when checked */
  border-color: #00419e;
}

#Cart .column3 .popup-row-text2-button:checked::before,
#Cart .column3 .popup-row-text2-button:checked::after {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 1px;
}

#Cart .column3 .popup-row-text2-button:checked::before {
  width: 3px;
  /* Width of the first part of the checkmark */
  height: 15px;
  /* Height of the first part of the checkmark */
  top: 2px;
  /* Adjust the vertical position */
  left: 11.5px;
  /* Adjust the horizontal position */
  transform: rotate(40deg);
  /* Rotate to create checkmark */
}

#Cart .column3 .popup-row-text2-button:checked::after {
  width: 3px;
  /* Width of the second part of the checkmark */
  height: 7px;
  /* Height of the second part of the checkmark */
  top: 8px;
  /* Adjust the vertical position */
  left: 5px;
  /* Adjust the horizontal position */
  transform: rotate(-45deg);
  /* Rotate to create checkmark */
}

#Cart .column3 .popup-row-button {
  width: 130px;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  position: fixed;
  cursor: pointer;

  color: #fff;
  background-color: #00419e;
  border: 1px solid #00419e;
  border-radius: 3px;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

#Cart .column3 .popup-row-button:hover {
  background-color: #002f7a;
  color: #e5e7e8;
}

/************************************** All Button ***************************************/
#Cart .display-button {
  display: flex;
  flex-direction: column;
}

#Cart .pay-bt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #1976d2;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #1976d2;
  opacity: 1;
  transition: opacity 0.3s, background-color 0.3s;
}

#Cart .display-button .pay-bt1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #1976d2;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #1976d2;
  opacity: 1;
  transition: opacity 0.3s, background-color 0.3s;
}

#Cart .display-button .pay-bt2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid black;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: black;
  opacity: 1;
  transition: opacity 0.3s, background-color 0.3s;
}

#Cart .display-button .pay-bt3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #ffc439;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #ffc439;
  opacity: 1;
  transition: opacity 0.3s, background-color 0.3s;
}

#Cart .pay-bt.disabled,
#Cart .display-button .pay-bt1.disabled,
#Cart .display-button .pay-bt2.disabled,
#Cart .display-button .pay-bt3.disabled {
  opacity: 0.5; /* Makes the button appear disabled */
  cursor: not-allowed; /* Shows a 'not-allowed' cursor */
  background-color: #6c7074; /* Optional: change background color when disabled */
  border: 1px solid #6c7074;
}

#Cart .pay-bt .text h2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  letter-spacing: 0.16px;
  line-height: 24px;
  font-size: 20px;
  margin: 0 10px;
}

#Cart .display-button .pay-bt1 .text h2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 5px;
}

#Cart .display-button .pay-bt2 .text h2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 5px;
}

#Cart .display-button .pay-bt3 .text h2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 5px;
}

#Cart .pay-bt .icon,
#Cart .display-button .pay-bt1 .icon,
#Cart .display-button .pay-bt2 .icon {
  margin-top: 2px;
  align-items: center;
  color: white;
}

#Cart .display-button .pay-bt3 .icon {
  margin-top: 2px;
  align-items: center;
  color: white;
  transform: rotate(3.5deg);
}
