#Header-Admin {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#Header-Admin .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Header-Admin .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #a855f7;
    flex: 1;
}

#Header-Admin .icon img {
    width: 35px;
    border-radius: 10px;
    margin-right: 10px;
}

#Header-Admin .logo-text {
    font-weight: 600;
    color: #333;
    font-size: 18px;
}

#Header-Admin .search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
}

#Header-Admin .search-bar input {
    width: 80%;
    max-width: 600px;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    outline: none;
    transition: border 0.2s;
}

#Header-Admin .search-bar input:focus {
    border-color: #25202a;
}

#Header-Admin .user-info {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

#Header-Admin .user-info .Bell, 
#Header-Admin .user-info .avatar {
    font-size: 25px;
    margin: 0 15px;
    cursor: pointer;
    color: #0a090a;
}

#Header-Admin .user-info .avatar-user {
    display: flex;
    align-items: center;
    border-left: 1px solid #e0e0e0;
    padding-left: 15px;
}

#Header-Admin .user-info .user-name {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}
