#course-slidebar{
    border-right: 1px solid #e5e7e8;
    height: calc(-60px + 100vh);
    padding: 16px 16px 16px 50px;
}

#course-slidebar .menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    border-radius: 6px;
    margin-left: 14px;
}

#course-slidebar .menu svg{
    color: var(--light-orange);
    font-size: 16px;
    margin-right: 10px;
}
#course-slidebar .menu p{
    font-size: 14px;
    font-weight: 600;
    color: var(--light-orange);
}

#course-slidebar .menu:hover p{
    text-decoration: underline;
}

#course-slidebar .menu:hover{
    background-color: #f3f8ff;
}