#search-result {}

#search-result .sort-info {
  display: flex;
}

#search-result .sort-info .total-course {
  font-size: 28px;
  font-weight: 600;
}

#search-result .sort-info .course-show-current {
  color: #868686;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

#search-result .sort-info .sort {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#search-result .sort-info .sort .sort-contain {
  display: flex;
  align-items: center;
  height: fit-content;
}

#search-result .sort-info .sort .title {
  color: #868686;
  font-size: 18px;
  margin-right: 20px;
  font-weight: 500;
}

#search-result .sort-info .sort .sort-base {
  height: 40px;
  width: 180px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0 10px;
}

#search-result .sort-info .sort .sort-base .sort-by {
  font-size: 18px;
  color: #868686;
  font-weight: 500;
  margin-right: 5px;
}

#search-result .sort-info .sort .sort-base .icon-contain {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#search-result .sort-info .sort .sort-base svg {
  font-size: 20px;
  color: #868686;
}


#search-result .sort-info .sort .sort-base .sort-dropdown {
  width: 130px;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  padding: 10px 0;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}

#search-result .sort-info .sort .sort-base .sort-dropdown .block {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  color: #868686;
  display: flex;
}

#search-result .sort-info .sort .sort-base .sort-dropdown .block:hover {
  background-color: #f7f7f7;
  color: black;
}

#search-result .sort-info .sort .sort-base .sort-dropdown .block svg {
  color: #063df9;
}