#ReportPage {
     margin-top: auto;
}

#ReportPage .Header-Admin {
     height: 60px;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99999;
}

#ReportPage .Layout {
     display: flex;
}

#ReportPage .Layout .SideBar-container {
     flex: 2;
}

#ReportPage .Layout .Layout-container {
     flex: 11;
}
