#filter-bar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 1px #949494;
}

#filter-bar .filter-title {
    padding: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
}

#filter-bar .filter-title svg {
    font-size: 16px;
    margin-right: 8px;
}

#filter-bar .filter-title span {
    font-size: 16px;
    font-weight: 600;
}

#filter-bar .category-container {
    padding: 20px;
    border-bottom: 1px solid #ececec;
}

#filter-bar .category-container .title {
    display: flex;
}

#filter-bar .category-container .title span {
    font-size: 16px;
    font-weight: 600;
}

#filter-bar .category-container .title .action-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#filter-bar .category-container .title .action-container svg {
    font-size: 16px;
}