#filter-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
}

#filter-bar .filter-item {
    margin: 5px 0;
    background-color: #ffffff;
    color: white;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
    color: black;
    /* margin-left: 10px; */
}

#filter-bar .filter-item .filter-btn-container {
    display: flex;
    align-items: center;
    position: relative;
}

#filter-bar .filter-item .filter-btn-container .filter-text {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

#filter-bar .filter-item .filter-btn-container button {
    position: absolute;
    right: 0;
}

#filter-bar .filter-item .filter-btn-container .filter-button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

#filter-bar .filter-item .filter-btn-container .filter-button:hover {
    background-color: rgb(245, 245, 245);
}

#filter-bar .filter-item .filter-btn-container .filter-button.active {
    transform: rotate(180deg);
}

#filter-bar .filter-item .sub-options-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

#filter-bar .filter-item .sub-options-container.open {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
}

#filter-bar .filter-item .sub-options {
    list-style-type: none;
    margin: 10px 0 0;
    font-size: 14px;
    padding-left: 20px;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
}

#filter-bar .filter-item .sub-options li {
    flex-basis: 50%;
    margin: 10px 0;
}

#filter-bar .filter-item .sub-options li label {
    display: flex;
    align-items: center;
    font-size: 18px;
}

#filter-bar .filter-item .sub-options li label input[type="checkbox"] {
    margin-right: 5px;
}

#filter-bar .filter-item .sub-options li label input[type="radio"] {
    margin-right: 5px;
}

#filter-bar .selected-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#filter-bar .selected-filter {
    background-color: rgb(255 143 38);
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 5px;
}

#filter-bar .selected-filter button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    right: 0;

}

#filter-bar .price-display {
    display: flex;
    align-items: center;
}

#filter-bar .price-display .price-min {
    display: flex;
    flex: 1;
    align-items: center;
}

#filter-bar .price-display .price-max {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#filter-bar .price-display .price-name #filter-bar .price-display .price-value {
    margin: 0;
    font-size: 16px;
}

#filter-bar .price-display .price-value {
    width: 60px;
    text-align: center;
    padding: 2px 0;
    background-color: #ffffff;
    border-image: linear-gradient(-45deg, #3498db, #e67e22) 1;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    font-weight: normal;
    font-style: normal;
}


.multi-range-slider {
    margin: 0px 10px;
}

.multi-range-slider .bar-inner {
    background-color: #ff8f26 !important;
    border: none !important;
    box-shadow: none !important;
}

.multi-range-slider .thumb-left::before,
.multi-range-slider .thumb-right::before {
    position: absolute;
    border-radius: 50% !important;
    background-color: #ffffff !important;
    margin: -8px -12px !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.multi-range-slider .thumb-left,
.multi-range-slider .thumb-right {
    display: flex;
    align-items: center;
    justify-content: center;
}