#register {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register .progress-bar {
    display: flex;
    width: 600px;
}

#register .progress-bar .step-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register .progress-bar .step-container .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--deep-slate-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}